body{
	background:black;
	color:white;
}

.heading{
	text-align:center;
	padding-top:2%;
}

.outer{
	width:400px;
	margin:auto;
	padding-top:3%;
}

.names{
	width:100%;
	border:2px solid white;
	display:flex;
}
.p1{
	margin:3%;
	width:50%;
	text-align:center;
	font-size:30px;
}
.p1 p{
	margin:0;
	font-size:35px;
}
.p2{
	margin:3%;
	width:50%;
	text-align:center;
	font-size:30px;
}
.p2 p{
	margin:0;
	font-size:35px;
}
.inner{
	width:100%;
	border: 2px solid white;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.b1{
	border: solid white;
	width:32%;
}
.b2{
	border:  solid white;
	width:32%;
}
.b3{
	border: solid white;
	width:32%;
}
.b4{
	border: solid white;
	width:32%;
}
.b5{
	border:  solid white;
	width:32%;
}
.b6{
	border:  solid white;
	width:32%;
}
.b7{
	border:  solid white;
	width:32%;
}
.b8{
	border:  solid white;
	width:32%;
}
.b9{
	border:  solid white;
	width:32%;
}
.inin{
	text-align:center;
}
.inin p{
	margin:0;
	font-size:70px;
	color:black;
	cursor:pointer;
}
.none{
	display:none;
}
.Result{
	margin-top:20px;
	width:100%;
	font-size:5vw;
	color:white;
	text-align:center;
}
.button{
	padding:10px;
	font-weight:900;
	background:#00FFFF;
	color:white;
	text-shadow: 1px 1px black;
	border-radius:10%;
	border:2px solid yellow;
}
.button:hover{
	background:white;
	color:#00FFFF;
}
.button:active{
	transform:scale(0.8);
}
@viewport{
	zoom:1.0;
	width:extend-to-zoom;
}
@-ms-viewport{
	zoom:1.0;
	width:extend-to-zoom;
}
